@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>uploadimg</title>   
</head>
<body>
    <div>
        @using (Html.BeginForm("SaveImage", "ExcelLog", FormMethod.Post, new { id="form1", enctype = "multipart/form-data" }))
        {
             
            <div style="margin-top: 20px;">
                <fieldset id="myfieldset1">
                    <legend>上传图片：</legend>
                    <p>
                        <input id="FileUpload" type="file" name="images" style="width: 250px; height: 24px; background: White"
                            class="easyui-validatebox" /> 
                    </p>
                    <p>
                        <input id="btnImport" type="submit"  value="上传" style="width: 60px; height: 28px;" />
                    </p>
                    <p style="color: Red; text-align: center;">@ViewBag.error</p>
                    <img src="@(ViewBag.url1 )" style="width:100px;height:100px;"/>
                     <img src="@(ViewBag.url2 )" style="width:100px;height:100px;"/>
                     <img src="@(ViewBag.url3 )" style="width:100px;height:100px;"/>
                     <img src="@(ViewBag.url4 )" style="width:100px;height:100px;"/>
                </fieldset>
            </div> 
        }
    </div> 
</body>
</html>
